/*.container{
    display: grid;
    background-color:gray;
    padding: 15px;
    grid-template-columns: auto auto auto;
}

.container div{
    min-height: 50px;
    background-color: white;
    color: white;
    border: 1px solid yellow;
}*/

